<!DOCTYPE html>
<html lang="en">

<%- include ('components/head.ejs', {title: "Warzywniak: Koszyk" , style: basket.css })%>

    <body>
        <% if (locals.role==='admin' ) { %>
            <%- include ('components/adminPanel.ejs') %>
                <%} else { %>
                    <%- include ('components/userPanel.ejs') %>
                        <%} %>

                            <%- include ('components/header.ejs')%>
                                <%- include ('components/searchBar.ejs') %>

                                    <main class="goods__panel">
                                        <% for (let i=0; i<products.length; i++) { %>
                                            <div class="panel__item good">
                                                <span class="good__name">
                                                    <%= products[i].name%>
                                                </span>
                                                <span class="good__price">
                                                    <%= products[i].price%>
                                                </span>
                                                <span class="good__description">
                                                    <%= products[i].description%>
                                                </span>
                                            </div>
                                            <% } %>

                                                <div>
                                                    <span>
                                                        <%="Suma:" + total %>
                                                    </span>
                                                    <span>Złóż zamówienie</span>
                                                </div>
                                    </main>
                                    <%- include ('components/footer.ejs') %>
    </body>

</html>