<!DOCTYPE html>
<html lang="en">

<%- include ('components/head.ejs', {title: "Warzywniak: Administrator - zmiana towaru" , style: adminAddGood.css })%>

    <body>
        <%- include('components/adminPanel.ejs') %>

            <% include ('components/header.ejs)%>

                <main class="add-panel">
                    <form method="PUT">
                        <label class="add__item name_label" for="Name">Nazwa:</label>
                        <input id='Name' class="name" type="text" name="Name" value=<%- product.name %>>/>
                        <label class="add__item price__label" for="Price">Cena:</label>
                        <input id="Price" class="price" type="number" name="Price" value=<%- product.price %>/>
                        <label class="add__item description__label" for="Description">Opis:</label>
                        <textarea id="Description" class="description" name="Description" value=<%- product.description
                            %>></textarea>
                        <button class="add__item submit" type="submit">Dodaj</button>
                    </form>
                </main>
                <%- include ('components/footer.ejs') %>
    </body>

</html>