<!DOCTYPE html>
<html lang="en">

<%- include ('components/head.ejs', {title: "Warzywniak: Administrator - zamówienia" , style: "adminOrders.css" })%>

    <body>
        <%- include('components/adminPanel.ejs') %>

            <%- include('components/header.ejs') %>

                <main class="orders__panel">
                    <% for (let i=0; i<orders.length; i++) { %>
                        <div class="panel__item order">
                            <span class="order__username">
                                <%= orders[i].user%>
                            </span>
                            <div class="panel__item orders">
                                <% for (let i=0; i<products.length; i++) { %>
                                    <div class="good">
                                        <span class="good__name">
                                            <%= products[i].name%>
                                        </span>
                                    </div>
                            </div>
                            <span class="panel__item total">Suma:</span>
                        </div>
                        <% } %>
                </main>
                <%- include ('components/footer.ejs') %>
    </body>

</html>