<!DOCTYPE html>
<html lang="en">

<%- include ('components/head.ejs', {title: "Warzywniak: Administrator - użytkownicy" , style: "adminUsers.css" }) %>

    <body>
        <%- include ('components/adminPanel.ejs', {style: "panel.css" }) %>

            <%- include ('components/header.ejs', {style: "header.css" })%>

                <main class="users__panel">
                    <% for (let i=0; i<users.length; i++) { %>
                        <div class="panel__item user">
                            <span class="user__id">
                                <%= "ID: " + i + ";" %>
                            </span>
                            <span class="user__name">
                                <%= "Username: " + users[i].username%>
                            </span>
                        </div>
                        <% } %>
                </main>

                <%- include ('components/footer.ejs', {style: "footer.css" }) %>
    </body>

</html>